.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MuteButton {
  position: absolute;
  top: 20px;
  right: 30px;
}

.ResultsContainer {
  border: 2px solid grey;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 400px;
  overflow-x: scroll;
}

.DiceImage {
  width: 100%;
}

.DiceBoard {
  max-height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 25%;
  max-width: 320px;
  overflow: scroll;
}

.DiceContainer-total {
  position: absolute;
  font-size: 1em;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.DiceContainer {
  flex: 1 0 25%;
}

.DiceContainer,
.diceImageTotal {
  max-width: 177px;
  max-height: 177px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
}

.ResultsContainer > table > thead > tr > th {
  color: white;
  font-size: 20px;
}

.ResultsContainer > table > tbody > tr > td,
.ResultsContainer > table > tbody > tr > th {
  font-size: 20px;
  color: white;
}

.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1000px) {

  .DiceForm {
    width: 100%!important;
    display: flex;
  }

  .DiceBoard {
    max-height: 190px;
  }

  .DiceFormInput {
    width: 32%;
    margin: 0 auto;
  }

  .ResultsContainer {
    border: 2px solid grey;
    border-radius: 4px;
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    height: 160px;
    overflow-x: scroll;
    margin-bottom: 20px;
  }
}
